<div class="uol-filters-panel" id="search-filters" aria-labelledby="filters-panel-title" role="group">
    <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
    <h2 id="filters-panel-title" class="uol-filters-panel__title">Filters</h2>
{%- for filter in site.data.config.filters -%}
    <div class="uol-form__input-container uol-form__input-container--small">
        <div role="group" id="{{ filter.key }}" data-label="{{ filter.label }}" data-message="{{ filter.message }}" data-additive="{{ filter.additive }}" aria-labelledby="filter-{{ filter.key }}-group{% if filter.options.size > 1 %} filter-{{ filter.key }}-group-hint{% endif %}" class="uol-form__custom-fieldset">
            <span id="filter-{{ filter.key }}-group" class="uol-form__custom__legend">{{ filter.label }}</span>
            {% if filter.options.size > 1 %}<span class="uol-form__input-label__hint" id="filter-{{ filter.key }}-group-hint">{% if filter.exclusive %}Select one option{% else %}Select all that apply{% endif %} </span>{% endif %}
            {%- for option in filter.options -%}
            <div class="uol-form__input--checkbox-wrapper">
                <input class="uol-form__input--checkbox{% if filter.exclusive %} exclusive{% endif %}" type="checkbox" id="{{ filter.key }}_{{ option.key }}" data-filterkey="{{ filter.key }}" data-optionkey="{{ option.key }}" data-optionlabel="{{ option.label }}" name="{{ filter.key }}_{{ option.key }}" value="{{ option.key }}">
                <label class="uol-form__input--checkbox-label" for="{{ filter.key }}-{{ option.key }}" id="{{ filter.key }}-{{ option.key }}-label">{{ option.label }}</label>
                <span class="uol-form__input--checkbox-custom">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" aria-hidden="true">
                        <path fill="#000" fill-rule="nonzero" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"></path>
                    </svg>
                </span>
            </div>
            {%- endfor -%}
        </div>
    </div>
{%- endfor -%}
    <div class="uol-filters-panel__footer">
        <button id="clear_filter_panel" class="uol-button uol-button--secondary uol-icon uol-icon--mdiDeleteForeverOutline uol-icon--icon-only--large" type="button">Clear all filters</button>
    </div>
</div>
<div class="uol-filters-panel__overlay"></div>