{% assign address = "" %}
{% if page.floor != "" %}
    {% assign address = address | append: page.floor | append: ", " %}
{% endif %}
{% if page.building  != "" %}
    {% assign address = address | append: page.building | append: ", " %}
{% endif %}
{% if page.address != "" %}
    {% assign address = address | append: page.address %}
{% endif %}
<aside class="uol-content-switch-from-side-to-main uol-section-nav-related-content" aria-label="Related content">
    <h2 class="uol-section-nav-related-content__title">Key Facts</h2>
    <div class="uol-section-nav-related-content__list">
        {% if address != "" %}
        <div class="uol-section-nav-related__item">
            <h3 class="uol-section-nav-related-content__item__title">Address</h3>
            <p class="uol-section-nav-related-content__item__text">{{ address }}</p>
            {% if page.campusmap_url && page.campusmap_url != "" %}
            <div class="uol-section-nav-related-content__item__contact-wrapper">
               <a class="uol-section-nav-related-content__contact uol-section-nav-related-content__contact--"  href="{{ page.campusmap_url }}">view on the campus map</a> - ref: {{ page.campusmap_ref }}
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="uol-section-nav-related__item">
            <h3 class="uol-section-nav-related-content__item__title">Contacts</h3>
            <p class="uol-section-nav-related-content__item__text"></p>
            {% if page.url && page.url != "" && page.url_text && page.url_text != "" %}
            <div class="uol-section-nav-related-content__item__contact-wrapper">
                <a class="uol-section-nav-related-content__contact uol-section-nav-related-content__contact--" href="{{ page.url }}">{{ page.url_text }}</a>
            </div>
            {% endif %}
            {% if page.phone_number && page.phone_number != "" && page.phone_text && page.phone_text != "" %}
            <div class="uol-section-nav-related-content__item__contact-wrapper">
                <a class="uol-section-nav-related-content__contact uol-section-nav-related-content__contact--phone" href="tel:{{ page.phone_number }}">{{ page.phone_text }}</a>
            </div>
            {% endif %}
            {% if page.email_address && page.email_address != "" %}
            <div class="uol-section-nav-related-content__item__contact-wrapper">
                <a class="uol-section-nav-related-content__contact uol-section-nav-related-content__contact--email" href="mailto:{{ page.email_address }}">{{ page.email_address }}</a>
            </div>
            {% endif %}

        </div>
    </div>
</aside>
