{% if page.twitter_screen_name != "" and page.facebook_url != "" %}
<aside class="uol-section-nav-ctas" aria-label="Related links">
    <h3 class="uol-section-nav-ctas__title">Follow us</h3>
    <div class="uol-section-nav-ctas__links">
    {% if page.twitter_screen_name != "" %}
        <a class="uol-button uol-section-nav-ctas__link" href="https://twitter.com/{{ page.twitter_screen_name }}">Follow {{ page.twitter_screen_name }} on twitter</a>
    {% endif %}
    {% if page.facebook_url != "" %}
        <a class="uol-button uol-section-nav-ctas__link" href="{{ page.facebook_url }}">Follow {{ page.facebook_url | replace: 'https://www.facebook.com/', '' }} on facebook</a>
    {% endif %}
    </div>
</aside>
{% endif %}
