{% assign spaces = site.data.spaces | sort_natural: "title" %}
{% for space in spaces %}
  {% if space.published %}
    {% assign typeclass = "" %}
    {% assign noiseclass = "" %}
    {% for filter in site.data.config.filters %}
      {% if filter.key == "space_type" %}
        {% for type in filter.options %}
          {% if type.label == space.space_type %}
            {% assign typeclass = type.key | prepend: " space_type_" %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if filter.key == "noise" %}
        {% for level in filter.options %}
          {% if level.label == space.noise %}
            {% assign noiseclass = level.key | prepend: " noise_" %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% assign workclasses = space.work | join: " work_" %}
    {% assign facilitiesclasses = space.facilities | join: " facilities_" %}
    {% assign atmosphereclasses = space.atmosphere | join: " atmosphere_" %}
    {% assign address = "" %}
    {% if space.floor != "" %}
        {% assign address = address | append: space.floor | append: ", " %}
    {% endif %}
    {% if space.building  != "" %}
        {% assign address = address | append: space.building | append: ", " %}
    {% endif %}
    {% if space.address != "" %}
        {% assign address = address | append: space.address %}
    {% endif %}
<article class="uol-results-items__item list-space{{ typeclass }}{{ noiseclass }}{{ workclasses | prepend: " work_" }}{{ facilitiesclasses | prepend: " facilities_" }}{{ atmosphereclasses | prepend: " atmosphere_" }}{% if space.image != "" and space.imagealt != "" %} uol-results-items__item--has-image{% endif %}">
    <div class="uol-results-items__item__text-container">
        <h2 class="uol-results-items__item__title">
            <a href="{{ space.slug }}" class="uol-results-items__item__link">{{ space.title }}</a>
        </h2>
        <dl class="uol-results-items__item__meta">
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">Address</dt>
                <dd class="uol-results-items__item__meta__data">{{ address }}</dd>
            </div>
        </dl>
        <p class="uol-results-items__item__summary">{{ space.description }}</p>
    </div>
    {% if space.image != "" and space.imagealt != "" %}
    <div class="uol-results-items__item__image-container">
        <img class="uol-results-items__item__img" src="{{ space.image | absolute_url }}" alt="{{ space.imagealt }}" loading="lazy">
    </div>
    {% endif %}
</article>
  {% endif %}
{% endfor %}
