<!-- Default result items -->
<!-- No image -->
<article class="uol-results-items__item  ">
    <div class="uol-results-items__item__text-container">
        <h2 class="uol-results-items__item__title">
            <a href="/result-link-1" class="uol-results-items__item__link">Ilkley Literature Festival event: &ldquo;Illuminating the Chaos and Obscurity&rdquo;: Ferrante and Dostoevsky in Dialogue</a>
        </h2>
        <dl class="uol-results-items__item__meta">
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">Published</dt>
                <dd class="uol-results-items__item__meta__data">
                    Saturday 8th May, 2021
                </dd>
            </div>
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">Categories</dt>
                <dd class="uol-results-items__item__meta__data">University</dd>
            </div>
        </dl>
        <p class="uol-results-items__item__summary">Conversation between Dr Sarah Hudspith, a scholar of Dostoevsky, and Dr Olivia Santovetti, an expert on Ferrante, both members of the University of Leeds Centre for World Literature.</p>
    </div>
</article>
<!-- with image-->
<article class="uol-results-items__item uol-results-items__item--has-image ">
    <div class="uol-results-items__item__text-container">
        <h2 class="uol-results-items__item__title">
            <a href="/result-link-2" class="uol-results-items__item__link">The Inaugural Edith Pechey Lecture</a>
        </h2>
        <dl class="uol-results-items__item__meta">
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">Published</dt>
                <dd class="uol-results-items__item__meta__data">
                    Friday 7th May, 2021
                </dd>
            </div>
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">Categories</dt>
                <dd class="uol-results-items__item__meta__data">University</dd>
            </div>
        </dl>
        <p class="uol-results-items__item__summary">The inaugural Edith Pechey online lecture with guest speaker Professor Simone Buitendijk, University of Leeds Vice Chancellor.</p>
    </div>
    <div class="uol-results-items__item__image-container">
        <img class="uol-results-items__item__img" src="/placeholders/banner/banner-05.jpg" alt="A super informative description">
    </div>
</article>
<!-- Course result item -->
<article class="uol-results-items__item  ">
    <div class="uol-results-items__item__text-container">
        <h2 class="uol-results-items__item__title">
            <a href="/result-link-7" class="uol-results-items__item__link">Geophysics (International) MGeophys, BSc</a>
        </h2>
        <dl class="uol-results-items__item__meta">
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">Duration</dt>
                <dd class="uol-results-items__item__meta__data">4 years full time</dd>
            </div>
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">Typical A-level offer</dt>
                <dd class="uol-results-items__item__meta__data">AAA</dd>
            </div>
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">UCAS code</dt>
                <dd class="uol-results-items__item__meta__data">F641</dd>
            </div>
        </dl>
    </div>
</article>
<!-- Event result item -->
<article class="uol-results-items__item uol-results-items__item--has-image ">
    <div class="uol-results-items__item__text-container">
        <h2 class="uol-results-items__item__title">
            <a href="/result-link-2" class="uol-results-items__item__link">The Inaugural Edith Pechey Lecture</a>
        </h2>
        <dl class="uol-results-items__item__meta">
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">Event date</dt>
                <dd class="uol-results-items__item__meta__data">
                    Tuesday 11 May 2021, 08.00pm
                </dd>
            </div>
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">Categories</dt>
                <dd class="uol-results-items__item__meta__data">University</dd>
            </div>
        </dl>
        <p class="uol-results-items__item__summary">The inaugural Edith Pechey online lecture with guest speaker Professor Simone Buitendijk, University of Leeds Vice Chancellor.</p>
    </div>
    <div class="uol-results-items__item__image-container">
        <img class="uol-results-items__item__img" src="/placeholders/banner/banner-05.jpg" alt="A super informative description">
    </div>
</article>
<!-- Research Opportunities results item -->
<article class="uol-results-items__item  ">
    <div class="uol-results-items__item__text-container">
        <h2 class="uol-results-items__item__title">
            <a href="/result-link-1" class="uol-results-items__item__link">MSc by Research in Quaternary environmental change and archaeology</a>
        </h2>
        <strong class="uol-results-items__item__highlight">Projects</strong>
        <dl class="uol-results-items__item__meta">
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">Category heading</dt>
                <dd class="uol-results-items__item__meta__data">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</dd>
            </div>
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">Application deadline</dt>
                <dd class="uol-results-items__item__meta__data">Ongoing</dd>
            </div>
            <div class="uol-results-items__item__meta__group">
                <dt class="uol-results-items__item__meta__label">Funding</dt>
                <dd class="uol-results-items__item__meta__data">Non-funded</dd>
            </div>
        </dl>
    </div>
</article>