.uol-results-items__item.hidden { display: none; }
button.uol-chips__button { display: inline-flex; }
div#listfilters p { font-size: 1.25rem; }
input[type="search"].uol-form__input.uol-form__input--search {
    &::-ms-clear,
    &::-ms-reveal,
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration { 
        -webkit-appearnce: auto;
        appearance: auto;
    }
}
@media (min-width: 64em) {
    .spacefinder-map {
        margin: .25rem .75rem 3rem;
    }
}
@media (min-width: 48em) {
    .spacefinder-map {
        height: 382px;
        margin-bottom: .5rem 0 1.5rem 0;
    }
}
.spacefinder-map {
    aspect-ratio: 1/1;
    margin: .5rem 0 .5rem 0;
    border: 1px solid transparent;
    width: 100%;
}
ul.facilities {
	list-style: none;
    padding:0;
    margin:0;
	li[class^="icon-"] {
        margin: 0 0 20px 0;
        display: flex;
        &::before, &::after {
            margin: .3rem 1.5rem 0 0;
		    font-size: 24px;
		    color: $color-brand;
		}
	}
}
@media (min-width: 48em) {
    ul.facilities {
        columns: 2;
        column-gap: 48px;
        margin-right:48px;
    }
    /*
    ul.facilities li[class^="icon-"] {
        float: left;
        width: 50%;
    }
    */
}