/*
████████╗██╗  ██╗██╗███████╗
╚══██╔══╝██║  ██║██║██╔════╝
   ██║   ███████║██║███████╗
   ██║   ██╔══██║██║╚════██║
   ██║   ██║  ██║██║███████║
   ╚═╝   ╚═╝  ╚═╝╚═╝╚══════╝
                            
   ██╗███████╗                 
   ██║██╔════╝                 
   ██║███████╗                 
   ██║╚════██║                 
   ██║███████║                 
   ╚═╝╚══════╝                 
                            
   ███████╗██╗  ██╗██╗████████╗
   ██╔════╝██║  ██║██║╚══██╔══╝
   ███████╗███████║██║   ██║   
   ╚════██║██╔══██║██║   ██║   
   ███████║██║  ██║██║   ██║   
   ╚══════╝╚═╝  ╚═╝╚═╝   ╚═╝   
*/
.uol-results-items__item.hidden {
  display: none;
}
button.uol-chips__button {
  display: inline-flex;
}
div#listfilters p {
  font-size: 1.25rem;
}
.uol-search-results__button-chips-container p {
    margin-bottom: .2rem;
}
/**
 * Facilities icon lists are implemented using spacefinder font rather
 * than Design System due to lack of access to the DS build assets
 */
ul.facilities {
  list-style: none;
  padding: 0;
  margin: 0;
  li[class^="icon-"] {
    margin: 0 0 20px 0;
    display: flex;
    &::before,
    &::after {
      margin: 0.3rem 1.5rem 0 0;
      font-size: 24px;
      color: $color-brand;
    }
  }
}
@media (min-width: 48em) {
  ul.facilities {
    columns: 2;
    column-gap: 48px;
    margin-right: 48px;
  }
}
/*
 * These are lifted from the uol-iframe class which is used for google maps
 */                                                                                                           

.spacefinder-map {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #51504c;
  aspect-ratio: 2/1;
}
.uol-search-results .spacefinder-map {
  aspect-ratio: 1/1;
  margin: 0.5rem 0.5rem 9px;
  border: 1px solid #c9c8c5;
}
@media (max-width: 47.99em) {
  .uol-search-results .spacefinder-map {
    margin-bottom: 25px;
  }
}
@media (min-width: 37.5em) and (max-width: 63.99em) {
  .uol-search-results .spacefinder-map {
    height: 382px;
    width: 100%;
  }
}
@media (max-width: 360px) {
  .uol-search-results .spacefinder-map {
    width: 95%;
  }
}
@media (min-width: 48em) {
  .uol-search-results .spacefinder-map {
    height: 382px;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 64em) {
  .uol-search-results .spacefinder-map {
    margin: 0.25rem 0.75rem 3rem;
  }
}
.uol-article .spacefinder-map + .uol-search-result__filters {
  margin-bottom: 2rem !important;
}
@media (min-width: 48em) {
  .uol-article .spacefinder-map + .uol-search-result__filters {
    margin-bottom: 3rem !important;
  }
}
.uol-article--form-map .spacefinder-map {
  margin-bottom: 2rem !important;
}
@media (min-width: 48em) {
  .uol-article--form-map .spacefinder-map {
    margin-bottom: 3rem !important;
  }
}
