---
layout: default
---

  <main id="main" role="main" class="uol-content-container">
    <form action="/forms/some-action" class="uol-col-container uol-search-results uol-search--has-filters">
      <div class="uol-search-results__page-heading">
        <header class="page-heading">
            <h1 class="page-heading__title">
                University Study Spaces
            </h1>
        </header>
      </div>
      {% include filters.html %}
      <div class="uol-search-results__main">
        <div class="uol-form__container">
          <div class="uol-form__inner-wrapper">
            <div class="uol-form uol-form--button-inline">
              <div class="uol-form__inputs-wrapper">
                <div class="uol-form__input-container">
                  <label class="uol-form__input-label" for="inputId2">
                    <span class="uol-form__input-label__text">Search spaces by keyword</span>
                  </label>
                  <div class="uol-form__input-wrapper uol-form__input-wrapper--search uol-form__input-wrapper--with-icon" data-field-invalid="false">
                    <input class="uol-form__input  uol-form__input--search" type="search" id="inputId2" name="searchCourses2" value="" aria-invalid="false" autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="uol-form__button-wrapper">
                <button class="uol-button uol-button--primary" type="submit">Search</button>
              </div>
            </div>
          </div>
        </div>
        <div class="uol-search-results__results">
          <div class="uol-results-count">
            <h2 class="uol-results-count__title">5 results for <strong>'ipsum'</strong></h2>
          </div>
          <div class="uol-search-results__button-chips-container"></div>
          <div class="uol-results-items">
            {% include spaces.html %}
          </div>
        </div>
      </div>
    </form>
  </main>