---
layout: default
---
{% assign address = "" %}
{% if page.data.floor != "" %}
    {% assign address = address | append: page.data.floor | append: ", " %}
{% endif %}
{% if page.data.building  != "" %}
    {% assign address = address | append: page.data.building | append: ", " %}
{% endif %}
{% if page.data.address != "" %}
    {% assign address = address | append: page.data.address %}
{% endif %}
{% include section-menu.html %}
  <main id="main" class="uol-content-container">
    <div class="uol-col-container">
      <div class="uol-side-nav-container"></div>
      <div class="uol-page">
        <div class="uol-page__head">
          <header class="page-heading">
            <h1 class="page-heading__title">{{ page.data.title }}</h1>
          </header>
        </div>
        <div class="uol-page__content">
          <div class="uol-rich-text">
            {% if page.data.image != "" and page.data.imagealt != "" %}
            <figure class="uol-featured-image">
                <img class="uol-featured-image__img" src="{{ page.data.image | absolute_url }}" alt="{{ page.data.imagealt | escape }}">
            </figure>
            {% endif %}
            <div class="uol-rich-text uol-rich-text--with-lead">
                <p>{{ address }}</p>
                <p>{{ page.data.description }}</p>
                <h3>Opening Times</h3>
                <table>
                    <thead>
                        <tr><th>Day</th><th>Open</th><th>Close</th></tr>
                    </thead>
                    <tbody>
                      {% for day in page.data.opening_hours %}<tr><td>{{ day[0] | capitalize }}</td>{% if day[1].open %}<td>{{ day[1].from }}</td><td>{{ day[1].to }}{% else %}<td colspan="2">Closed{% endif %}</td></tr>{% endfor %}
                    </tbody>
                </table>
                <h3>Facilities Available</h3>
                <ul class="facilities">
                {%- for fac in page.data.facilities -%}
                  {%- for f in site.data.config.filters -%}
                    {%- if f.key == "facilities" -%}
                      {%- for opt in f.options -%}
                        {% if opt.key == fac %}<li class="{{ opt.icon }}">{{ opt.label }}</li>{% endif %}
                      {%- endfor -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endfor -%}
                </ul>
                <h3>Location</h3>
            </div>
          </div>
          <div id="map" class="spacefinder-map" data-load="{{ page.data.id }}"></div>
        </div>
      </div>
    </div>

    {% include section-menu-related.html %}

  </main>