---
layout: default
---

  <main class="uol-content-container uol-main-container">
    <form action="#" class="uol-col-container uol-search-results uol-search--has-filters">
      <div class="uol-search-results__page-heading">
        <header class="page-heading">
            <h1 class="page-heading__title">
              <span class="page-heading__title__main">University Study Spaces</span>
            </h1>
        </header>
      </div>
      <div id="map" class="spacefinder-map"></div>
      <div class="uol-search-result__filters">
        {% include filters.html %}
      </div>
      <div id="main" tabindex="-1" class="uol-search-results__main">
        <div class="uol-form__container">
          <div class="uol-form__inner-wrapper">
            <div class="uol-form uol-form--button-inline">
              <div class="uol-form__inputs-wrapper">
                <!-- <div class="uol-form__input-container">
                  <div aria-labelledby="sortHeader" class="uol-form__custom-fieldset">
                    <span id="sortHeader" class="uol-form__custom__legend">Sort results</span>
                    <div class="uol-form__inputs-wrapper uol-form__inputs-wrapper--inline">
                      <div class="uol-form__input--radio-wrapper">
                        <input class="uol-form__input--radio" type="radio" id="radio-one" name="radio-group-name" value="radio-one" checked>
                        <label class="uol-form__input--radio__label" for="radio-one">Alphabetically</label>
                        <span class="uol-form__input--custom-radio" hidden>
                          <svg xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" aria-hidden="true" focusable="false">
                            <circle cx="12" cy="12" r="12" />
                          </svg>
                        </span>
                      </div>
                      <div class="uol-form__input--radio-wrapper">
                        <input class="uol-form__input--radio" type="radio" id="radio-two" name="radio-group-name" value="radio-two">
                        <label class="uol-form__input--radio__label" for="radio-two">By distance</label>
                        <span class="uol-form__input--custom-radio" hidden>
                          <svg xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" aria-hidden="true" focusable="false">
                            <circle cx="12" cy="12" r="12" />
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>-->
                <div class="uol-form__input-container">
                  <label class="uol-form__input-label" for="inputId2">
                    <span class="uol-form__input-label__text">Search spaces by keyword</span>
                  </label>
                  <div class="uol-form__input-wrapper uol-form__input-wrapper--search uol-form__input-wrapper--with-icon" data-field-invalid="false">
                    <input class="uol-form__input  uol-form__input--search" type="search" id="search-input" name="search-input" value="" aria-invalid="false" autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="uol-form__button-wrapper">
                <button class="uol-button uol-button--primary" type="submit" id="search-submit">Search</button>
              </div>
            </div>
          </div>
        </div>
        <div class="uol-search-results__results">
          <div class="uol-results-count">
            <h2 class="uol-results-count__title" id="searchResultsSummary"></h2>
          </div>
          <div class="uol-search-results__button-chips-container" id="listfilters"></div>
          <div class="uol-results-items" id="listcontent">
            {% include spaces.html %}
          </div>
        </div>
      </div>
    </form>
  </main>